/.secrets
app_copy.py
.streamlit/secrets.toml
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
.env
.streamlit/secrets.toml
.vscode/
documentos_arquivo - Copia.xlsx
documentos_arquivo.xlsx
